<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <title>Inscricao</title>


</head>
<body class="bg-dark h-100">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Go-forrest!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'~/'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'~/inscricao'}">Inscricoes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Navegar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" th:href="@{'~/administrador/'}">Administrador</a></br>
                        <a class="dropdown-item" th:href="@{'~/organizador/'}">Organizador</a></br>
                        <a class="dropdown-item" th:href="@{'~/evento/'}">Evento</a></br>
                        <a class="dropdown-item" th:href="@{'~/percurso/'}">Percurso</a></br>
                        <a class="dropdown-item" th:href="@{'~/endereco/'}">Endereço</a></br>
                        <a class="dropdown-item" th:href="@{'~/pagamento/'}">Pagamento</a></br>
                        <a class="dropdown-item" th:href="@{'~/lote/'}">Lote</a></br>
                        <a class="dropdown-item" th:href="@{'~/chip/'}">Chip</a></br>
                        <a class="dropdown-item" th:href="@{'~/atleta/'}">Atleta</a></br>
                        <a class="dropdown-item" th:href="@{'~/ranking/'}">Ranking</a></br>
                        <a class="dropdown-item" th:href="@{'~/kit/'}">Kit</a></br>
                        <a class="dropdown-item" th:href="@{'~/distribuicaodepontos/'}">Distribuição de Pontos</a></br>
                        <a class="dropdown-item" th:href="@{'~/localderetirada/'}">Local de Retirada</a></br>
                        <a class="dropdown-item" th:href="@{'~/pontuacao/'}">Pontuacao</a></br>

                    </div>
                </li>
            </ul>
            <h4 class="m-2 my-sm-0" th:text="${session.atleta.nome}" th:if="${session.tipoLogin == 'atleta'}"> </h4>
            <h4 class="m-2 my-sm-0" th:text="${session.administrador.login}" th:if="${session.tipoLogin == 'administrador'}"> </h4>
            <h4 class="m-2 my-sm-0" th:text="${session.organizador.nome}" th:if="${session.tipoLogin == 'organizador'}"> </h4>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-danger my-2 my-sm-0" th:href="@{'~/logout/'}">Logout</a>
            </form>
        </div>
    </nav>
</header>
<main class="container">
    <div class="d-flex align-items-center flex-column justify-content-center h-100 bg-dark text-white">


        <h1 th:text="${tittle}"> Operação </h1>
        <form th:object="${inscricao}" method="post">
            <div class="row">
                <label for="tamCamisa">Tamanho Camisa</label>
                <select class="custom-select d-block w-100" name="tamCamisa" id="tamCamisa">
                    <option >PP</option>
                    <option >P</option>
                    <option selected>M</option>
                    <option >G</option>
                    <option >GG</option>


                </select>
            </div>
            <div class="row">
                <label for="numeroPeito">Numero Peito</label>
                <input class="form-control" id="numeroPeito" th:value="${inscricao?.numeroPeito}" type="text"
                       name="numeroPeito"
                       th:disabled="${operacao} == excluir"/>
            </div>
            <div class="row">
                <label for="precoTotal">Preco Total</label>
                <input class="form-control" id="precoTotal" th:value="${inscricao?.precoTotal}" type="text"
                       name="precoTotal"
                       th:disabled="${operacao} == excluir"/>
            </div>
            <div class="row">
                <label for="dataInscricao">Data Inscricao</label>
                <input class="form-control" id="dataInscricao" th:value="${inscricao?.dataInscricao}" type="date"
                       name="dataInscricao"
                       th:disabled="${operacao} == excluir"/>
            </div>

            <div class="row">
                <label for="chip">Chip</label>
                <select class="custom-select d-block w-100" th:disabled="${operacao} == excluir" name="chip" id="chip">
                    <option disabled selected value> -- Selecione  -- </option>
                    <option th:if="${inscricao?.chip} == null" th:each="chip : ${chips}" th:value="${chip.codChip}"
                            th:text="${chip.tipoChip}"></option>
                    <option th:if="${inscricao?.chip} != null" th:each="chip : ${chips}" th:value="${chip.codChip}"
                            th:selected="${inscricao.chip.codChip} == ${chip.codChip}"
                            th:text="${chip.tipoChip}"></option>
                </select>
            </div>

            <div class="row">
                <label for="pagamento">Pagamento</label>
                <select class="custom-select d-block w-100" th:disabled="${operacao} == excluir" name="pagamento"
                        id="pagamento">
                    <option disabled selected value> -- Selecione  -- </option>
                    <option th:if="${inscricao?.pagamento} == null" th:each="pagamento : ${pagamentos}"
                            th:value="${pagamento.codPagamento}" th:text="${pagamento.codigoBarra}"></option>
                    <option th:if="${inscricao?.pagamento} != null" th:each="pagamento : ${pagamentos}"
                            th:value="${pagamento.codPagamento}"
                            th:selected="${inscricao.pagamento.codPagamento} == ${pagamento.codPagamento}"
                            th:text="${pagamento.codigoBarra}"></option>
                </select>
            </div>

            <div class="row">
                <label for="kit">Kit</label>
                <select class="custom-select d-block w-100" th:disabled="${operacao} == excluir" name="kit" id="kit">
                    <option disabled selected value> -- Selecione  -- </option>
                    <option th:if="${inscricao?.kit} == null" th:each="kit : ${kits}" th:value="${kit.codKit}"
                            th:text="${kit.descricao}"></option>
                    <option th:if="${inscricao?.kit} != null" th:each="kit : ${kits}" th:value="${kit.codKit}"
                            th:selected="${inscricao.kit.codKit} == ${kit.codKit}" th:text="${kit.descricao}"></option>
                </select>
            </div>
            <div class="row">
                <div class="custom-control custom-checkbox" th:if="${operacao} != adicionar">
                    <input type="checkbox" class="custom-control-input" name="statusRetirada" value="true"
                           id="statusRetirada" th:disabled="${operacao == excluir}"
                           th:checked="${inscricao?.statusRetirada}">
                    <label class="custom-control-label" for="statusRetirada">Retirado</label>
                </div>
            </div>
            <div class="row">
                <label for="atleta">Atleta</label>
                <select class="custom-select d-block w-100" th:disabled="${operacao} == excluir" name="atleta"
                        id="atleta">
                    <option disabled selected value> -- Selecione  -- </option>
                    <option th:if="${inscricao?.atleta} == null" th:each="atleta : ${atletas}"
                            th:value="${atleta.codUsuario}" th:text="${atleta.nome}"></option>
                    <option th:if="${inscricao?.atleta} != null" th:each="atleta : ${atletas}"
                            th:value="${atleta.codUsuario}"
                            th:selected="${inscricao.atleta.codUsuario} == ${atleta.codUsuario}"
                            th:text="${atleta.nome}"></option>
                </select>
            </div>

            <div class="row">
                <label for="percurso">Percurso</label>
                <select class="custom-select d-block w-100" th:disabled="${operacao} == excluir" name="percurso"
                        id="percurso">
                    <option disabled selected value> -- Selecione  -- </option>
                    <option th:if="${inscricao?.percurso} == null" th:each="percurso : ${percursos}"
                            th:value="${percurso.codPercurso}" th:text="${percurso.nome}"></option>
                    <option th:if="${inscricao?.percurso} != null" th:each="percurso : ${percursos}"
                            th:value="${percurso.codPercurso}"
                            th:selected="${inscricao.percurso.codPercurso} == ${percurso.codPercurso}"
                            th:text="${percurso.nome}"></option>
                </select>
            </div>

            <hr class="mb-4">
            <input class="btn btn-primary btn-lg btn-block" type="submit" th:value="${botaoOperacao}"/>
            <a class="btn btn-danger btn-lg btn-block" th:href="@{'~/inscricao/'}">Cancelar</a>
        </form>
    </div>


</main>


<!-- Carrega mais rapido! -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>